input,
textarea {
    width: 100%;
    border: none;
    background: transparent;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;
    outline: none;
    color: inherit;
    resize: none;
}

p {
    margin: 0;
    padding: 0;
}
