.state-layer::before {
    @include pseudo-normalize();
    background-color: currentColor;
    opacity: 0;
}

.state-layer {
    position: relative;
    cursor: pointer;
    @include flex();

    &:hover::before { opacity: 0.08 }
    &:active::before { opacity: 12% }

    & * {
        z-index: 2;
    }
}

