:root.dark {

    // Brand Variations
    --brand-primary-high: #{ palette-color('primary-4') };
    --brand-primary-medium: #{ palette-color('primary-3') };
    --brand-primary-low: #{ palette-color('primary-2') };

    // Background colors
    --bg-default-high: #{ palette-color('neutral-8') };
    --bg-default-medium: #{ palette-color('neutral-7') };
    --bg-default-low: #{ palette-color('neutral-6') };
    --bg-inverse-high: #{ palette-color('neutral-2') };
    --bg-inverse-medium: #{ palette-color('neutral-3') };
    --bg-inverse-low: #{ palette-color('neutral-4') };


    // Surface colors
    --surface-default-high: #{ palette-color('neutral-7') };
    --surface-default-medium: #{ palette-color('neutral-6') };
    --surface-default-low: #{ palette-color('neutral-5') };
    --surface-inverse-high: #{ palette-color('neutral-1') };
    --surface-inverse-medium: #{ palette-color('neutral-2') };
    --surface-inverse-low: #{ palette-color('neutral-3') };
    --surface-warning-high: #{ palette-color('warning-4') };
    --surface-warning-medium: #{ palette-color('warning-3') };
    --surface-warning-low: #{ palette-color('warning-2') };


    // Border colors    
    --border-default-high: #{ palette-color('info-1') };
    --border-default-medium: #{ palette-color('info-3') };
    --border-default-low: #{ palette-color('neutral-5') };

    // Text Colors
    --text-default-high: #{ palette-color('neutral-2') };
    --text-default-medium: #{ palette-color('info-2') };
    --text-default-low: #{ palette-color('info-1') };
    --text-inverse-high: #{ palette-color('neutral-8') };
    --text-inverse-medium: #{ palette-color('neutral-7') };
    --text-inverse-low: #{ palette-color('neutral-6') };
    --text-warning-medium: #{ palette-color('warning-2') };
    --text-warning-low: #{ palette-color('warning-1') };


}