$font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;

// Font Sizes

$text-1: 0.688rem;
$text-2: 0.75rem;
$text-3: 0.875rem;
$text-4: 0.906rem;
$text-5: 1rem;
$text-6: 1.063rem;
$text-7: 1.188rem;

// Font Weights

$font-weight-regular: 400;
$font-weight-bold: 600

